params {
    // Pipeline
    name = false
    help = false
    validate_params = true
    show_hidden_params = false

    // Results directories
    resultDir = "${params.outdir}/results"
    reportDir = "${params.outdir}/results/reports"

    // Mandatory input options
    count_type = "matrix"
    rscript_exec = "Rscript"
    strip_ids = false
    filter_counts = false

    // Library
    library_gene_column_index = 3

    // Log fold changes
    lfc_method = 'crisprcleanr'
    scale_log_fold_changes = false

    // Bayes factors
    no_BAGEL = false
    scale_bayes_factors = true

    // MAGeCK
    no_mageck = false
    normalisation_method = 'none'

    // Stage muting
    no_qc = false
    no_duplicate_removal = true
    no_correction = true
    no_filter = true
    no_normalisation = true
    no_analysis = false

    // Essential genes
    essential_genes = '/opt/wsi-t113/c-sar/modules/BAGEL2/data/BAGEL2_CEGv2.txt'
    ess = '/opt/wsi-t113/c-sar/modules/BAGEL2/data/BAGEL2_CEGv2.txt'
    ess_gene_column_index = 1
    no_ess_header = true
    ess_delim = "\t"

    // Non-essential genes
    nonessential_genes = '/opt/wsi-t113/c-sar/modules/BAGEL2/data/BAGEL2_NEGv1.txt'
    noness = '/opt/wsi-t113/c-sar/modules/BAGEL2/data/BAGEL2_NEGv1.txt'
    noness_gene_column_index = 1
    no_noness_header = true
    noness_delim = "\t"
}