.DS_Store
DATA/CRAM
DATA/pyCROQUET/CRAMS
DATA/pyCROQUET
*.query_class.tsv.gz
*.counts.tsv.gz
DATA/RDS/*
LOGS/*
*pred_vs_obs_y12.tsv
*sgrna_sample_t_scores.tsv
*Project_Score_corrected_LFC.tsv
*pred_vs_obs_with_ngis.tsv
work
.nextflow
DATA/single_guide/*/*/*/*/*.nextflow*
DATA/single_guide/*/*/*/*/results/reports
.vscode
.ipynb_checkpoints
rstudio-session.log
.config
.local
./*/reports/*
METADATA/iRODS